<p-toolbar>
    <div class="p-toolbar-group-left">
        <p-button (onClick)="filtrarNotas(false)" routerLink="notas" label="Mis Notas" class="mr-2" styleClass="p-button-warning"></p-button>
        <p-button (onClick)="filtrarNotas(true)" routerLink="favoritos" label="Notas Favoritas" class="mr-5" styleClass="p-button-help"></p-button>
        
        <h5>Fecha</h5>  <p-inputSwitch [(ngModel)]="orden" (onChange)="ordenarNotas()"></p-inputSwitch> <h5>ABC</h5>
    </div>
    
    <div class="p-toolbar-group-right">
        <p-button (click)="mostrarNuevaNota()" label="Nueva nota" icon="pi pi-plus" class="mr-2" styleClass="p-button-success" ></p-button>
    </div>
</p-toolbar>

<p-dialog header="Nueva Nota" [(visible)]="modal" [modal]="true" [style]="{width: '30vw'}"
    [draggable]="false" [resizable]="false">
    <span class="p-float-label mt-2">
        <input id="float-input" type="text" pInputText [(ngModel)]="titulo"> 
        <label for="float-input">Titulo </label>
    </span>
    <span class="p-float-label mt-2">
        <textarea id="float-input" rows="5" cols="30" pInputTextarea [(ngModel)]="contenido"></textarea>
        <label for="float-input">Contenido</label>
    </span>
    <button (click)="guardarNota()" pButton pRipple type="button" label="Guardar" class="p-button-rounded p-button-success mt-2 ml-8"></button>
    <button pButton pRipple type="button" icon="pi {{iconoFavorito}}" class="p-button-rounded p-button-primary ml-8"></button>
    
</p-dialog>