<div class="grid">
    <div class="col-4"*ngFor="let nota of notas; let i = index">
        <p-card>
            <ng-template pTemplate="header">
                <div style="zoom: 120%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">
                    {{nota.nTitulo}}
                </div>
            </ng-template>
                {{nota.nContenido}}
            <ng-template pTemplate="footer">
                <button (click)="agregarFavoritos(i)" pButton pRipple type="button" icon="pi {{iconoFavorito[i]}}" class="p-button-rounded p-button-primary mr-8"></button>
                <button (click)="editarNota(nota)" pButton pRipple label="Editar" class="p-button-rounded p-button-warning ml-4" icon="pi pi-credit-card"></button>
                <button (click)="borrarNota(nota.iId!, nota.nTitulo)" pButton pRipple label="Eliminar" class="p-button-rounded p-button-danger ml-2" icon="pi pi-trash"></button>
                <hr>
                <div style="text-align: end;">
                    {{nota.dFecha | fecha}}
                </div>
            </ng-template>
        </p-card>
    </div>
</div>


<p-dialog header="Editar Nota" [(visible)]="modal" [modal]="true" [style]="{width: '30vw'}"
[draggable]="false" [resizable]="false">
<span class="p-float-label mt-2">
    <input id="float-input" type="text" pInputText [(ngModel)]="titulo"> 
    <label for="float-input">Titulo </label>
</span>
<span class="p-float-label mt-2">
    <textarea id="float-input" rows="5" cols="30" pInputTextarea [(ngModel)]="contenido"></textarea>
    <label for="float-input">Contenido</label>
</span>
<button (click)="actualizarNota()" pButton pRipple type="button" label="Guardar" class="p-button-rounded p-button-success mt-2 ml-8"></button>
<button pButton pRipple type="button" icon="pi {{iconoFavorito}}" class="p-button-rounded p-button-primary ml-8"></button>

</p-dialog>